@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
body {
    text-align: center;
}
  
  
/* Set the style of container
    div element */
.Container{
    height: 150px;
    width: 250px;
    overflow-y: auto;
    background-color: green;
    border-radius: 5px;
    margin: 0 auto;
}
/* Set the effects to the division
    named content */
.Content{
    height: 200px;
    color: white;
    text-align: center;
}
  
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(220, 233, 231);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header{
    display: flex;
    background-color: rgb(31, 147, 147);
    height: 20vh;
    justify-content:  center;
    align-items: center;
}

header > h1{
    font-size: 60px;
    width: 800px ;
    border: double 3px black;
    border-radius: 30px 0px 30px 0px;
}

nav{
    background-color: rgb(31, 147, 147);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 100px 10px 50px 0px black;
}

nav > a{
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    
}

nav > a:hover{
    font-size: 15px;
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 50px;
        color: aliceblue;
        padding: 5px;
}

.cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-img{
    width: 100%;
}

.cont-viagem{
    background-color: rgba(90, 90, 90, 0.391);
    width: 50vw;
    height: 50vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px 0px 50px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.558);
}

.cont-viagem > div{
    text-align: center;
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
    color: rgb(42, 63, 86);
    
}

.cont-h2 > h2{
    color: white;
}

.cont-form{

    width: 800px;
    height: 300px;
    padding: 20px;
}

.cont-form > div select {
    background-color: rgba(97, 203, 242, 0.472);
    margin: 10px;
   
    border-radius: 30px;
}

.cont-form > select{
    margin-top: 20px;
}

.inpt-check{
    display: flex;
}

.inpt-check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check{
    margin: 20px;
}

main{
    background-color: rgba(31, 147, 147, 0.131);
    text-align: center;
    
}



.cont-cards{
    background-color: rgba(31, 147, 147, 0.218);
    width: 95vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;

}

.card-precos{

    margin: 30px;
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.card-precos > img{
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 50px 0px 50px 0px;
}


.inf-cards{
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(4, 4, 4, 0.227);
    border-radius: 10px;
    padding: 10px;
    text-decoration: dotted;
}

.fot-img{
    width: 100%;
}

footer{
    background-color: rgb(214, 211, 211);
    height: 10vw;
    
}


@media(max-width: 700px){
nav{
    background-color: rgb(31, 147, 147);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
}